faster-whisper
sounddevice
scipy
keyboard
pygame
edge-tts
pyyaml
requests
psutil
pycaw
screen-brightness-control
pyperclip
sympy
Pillow
pywin32
winshell
google-auth
google-auth-oauthlib
google-api-python-client
ephem
ddgs
numpy
pyautogui
pygetwindow
watchdog
playwright
pyinstaller
pywebview
pypdf
flask
gevent
