faster-whisper
nvidia-cuda-runtime-cu12
nvidia-cublas-cu12
SpeechRecognition
torch
tiktoken
numba
sounddevice
pyaudio
scipy
keyboard
pygame
edge-tts
pyyaml
requests
psutil
pycaw
screen-brightness-control
pyperclip
sympy
Pillow
pywin32
winshell
google-auth>=2.0
google-auth-oauthlib>=1.0
google-api-python-client>=2.0
ephem
ddgs
numpy
pyautogui
pygetwindow
watchdog
playwright
pyinstaller
websockets>=12.0
pypdf
flask
gevent
openwakeword
fpdf2
dateparser
pandas
openpyxl
